@import '_variables';
@import url('https://fonts.googleapis.com/css?family=Work+Sans');
@import url('https://fonts.googleapis.com/css?family=Cousine');

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $body-font;
}

input[type=text], textarea {
  font-family: $body-font;
}

h1, h2, h3 {
  font-family: $display-font;
}

.title {
  text-align: center;
  color: $button-color;
  font-size: 42px;
}

header {
  width: 100%;
}

#qa {
  width: 50%;
}

.question-form {
  margin-bottom: 50px;
  .question-input {
    width: 85%;
    padding-left: 10px;
    border: solid 1px $border-color;
    border-radius: 5px 0 0 5px;
    height: 40px;
    font-size: 16px;
  }

  input[type=submit] {
    width: 90px;
    border-radius: 0 5px 5px 0;
    box-shadow: none;
    border: none;
    background-color: $button-color;
    color: $inverse; 
    height: 44px;
    font-size: 16px;
    position: absolute;
    cursor: pointer;
    &:hover {
      background-color: $link-hover;
    }
    &:disabled {
      background-color: $link-secondary;
    }
  }
}

.questions-title {
  margin-top: 50px;
  margin-bottom: 0;
  padding-bottom: 20px;
  border-bottom: solid 2px darken($border-color, 10%);
}


.question {
  height: 100px;
  padding-top: 20px;
  border-bottom: solid 1px $border-color;
  a {
    color: $primary;
    text-decoration: none;
    &:visited {
      color: $primary;
      
    }
  }
  .avatar {
    width: 50px;
    margin-top: 10px;
    border: solid 2px $border-color;
    border-radius: 50%;
    display: inline-block;
  }
  .question-text {
    margin-top: 15px;
    padding-left: 20px;
    vertical-align: top;
    display: inline-block;
  }
  .question-date {
    color: $display-color;
    display: block;
    font-size: 12px;
    text-align: right;
  }
}

.answer {
  height: 100px;
  padding-top: 20px;
  border-bottom: solid 1px $border-color;
  dispay: inline-block;
  .vote-toggle {
    display: inline-flex;
    flex-direction: column;
    .fa-angle-up, .fa-angle-down {
      margin-left: 8px;
      font-size: 20px;
      color: darken($body-color, 20%);
      cursor: pointer;
      width: 2%;
    }
    span {
      background-color: $border-color;
      width: 20px;
      color: $primary;
      text-align: center;
      padding: 7px 5px 5px 5px;
    }
  }
  .answer-text, {
    margin-top: 18px;
    padding-left: 20px;
    vertical-align: top;
    display: inline-block;
    color: $primary;
  }
  input[type=button] {
      width: 70px;
      text-align: center;
      display: inline-block;
      background-color: $negative;
      color: $inverse;
      font-size: 12px;
      float: right;
      border: none;
      border-radius: 5px;
      height: 29px;
      margin-top: 10px;
      cursor: pointer;
      &:hover {
        background-color: darken($negative, 10%);
      }
    }
  form {
    display: inline;
    input[type=text] {
      width: 41vw;
      position: absolute;
      font-size: 16px;
      vartical-align: top;
      margin-left: 9px;
      margin-top: 12px;
      padding: 5px 0 5px 10px;
      background-color: lighten($secondary-label, 25%);
      border-radius: 5px;
      border: none;
    }
  }  
  .answer-dates {
    color: $display-color;
    display: block;
    font-size: 12px;
    text-align: right;
    span {
      color: $primary;
    }
  }
}

.answer-form {
  margin-top: 40px;
  margin-bottom: 50px;
  textarea {
    width: 100%;
    height: 200px;
    border: solid 1px $border-color;
    border-radius: 5px;
    font-size: 16px;
    padding-left: 10px;
    padding-top: 10px;
  }
  input[type=submit] {
    color: $inverse;
    font-size: 12px;
    border-radius: 5px;
    border: none;
    height: 30px;
    background-color: $button-color;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    &:disabled {
      background-color: $link-secondary;
    }
    &:hover {
      background-color: $link-hover;
    }
  }
}

.header-bar {
  background-color: $primary;
  height: 75px;
  margin: 0;
  padding: 0;
}

.logo {
  margin-top: -70px;
  width: 75px;
  display: block;
  text-align: center;
  padding-top: 20px;
  margin-right: auto;
  margin-left: auto;
}
